<ul class="bookmarkTools nav nav-pills">
  <%# if can? :publish, @response.documents.map {|doc| doc.id} %>
  <li class="publish">
    <%= link_to t('blacklight.tools.publish'), update_status_media_objects_path(:id => @response.documents.map {|doc| doc.id}, :status => 'publish'), :method => :put, :name => 'publish', :class => 'btn btn-default publishLink' %>
  </li>
  <%# end %>
  <%# if can? :unpublish, @response.documents.map {|doc| doc.id} %>
  <li class="publish">
    <%= link_to t('blacklight.tools.unpublish'), update_status_media_objects_path(:id => @response.documents.map {|doc| doc.id}, :status => 'unpublish'), :method => :put, :name => 'publish', :class => 'btn btn-default publishlink' %>
  </li>
  <%# end %>
  <%# if can? :delete, @response.documents.map {|doc| doc.id} %>
  <li class="delete">
    <%= form_tag confirmremove_media_objects_path(:sort=>params[:sort], :per_page=>params[:per_page]), class: 'bulkAction', method: 'get' do %>
      <%= submit_tag "Delete", class: "btn btn-danger bulkActionBtn", id: "deleteLink" %>
    <% end %>
  </li>
  <%# end %>

  <li class="email">
    <%= link_to t('blacklight.tools.email'), email_catalog_path(:sort=>params[:sort], :per_page=>params[:per_page], :id => @response.documents.map {|doc| doc.id}), :class=>"btn btn-default", :id => "emailLink", :data => {:ajax_modal => "trigger"} %>
  </li>
  
  <%= render_marc_tools %>
</ul>
<% content_for :page_scripts do %>

<script>
$('input.bulkActionBtn').click(function(event){
  event.preventDefault();
  var form = $(this).closest("form");
  form.remove('input[type="hidden"]');
  vals = $('form.bookmark_toggle').has('input:checked').map(function(){return $(this).attr('data-doc-id');}).get();
  vals.map( function(id) {
    form.append('<input type="hidden" name="id[]" value="' + id + '"/>');
  });
  form.submit();
});
</script>
<% end %>
