<ul class="bookmarkTools nav nav-pills">
  <%# if can? :publish, @response.documents.map {|doc| doc.id} %>
  <li class="publish">
    <%= form_tag update_status_media_objects_path(:sort=>params[:sort], :per_page=>params[:per_page]), class: 'bulkAction', method: 'put' do %>
      <%= hidden_field_tag 'status', 'publish' %>
      <%= submit_tag "Publish", class: "btn btn-default bulkActionBtn", id: "publishLink" %>
    <% end %>
  </li>
  <%# end %>
  <%# if can? :unpublish, @response.documents.map {|doc| doc.id} %>
  <li class="publish">
    <%= form_tag update_status_media_objects_path(:sort=>params[:sort], :per_page=>params[:per_page]), class: 'bulkAction', method: 'put' do %>
      <%= hidden_field_tag 'status', 'unpublish' %>
      <%= submit_tag "Unpublish", class: "btn btn-default bulkActionBtn", id: "publishLink" %>
    <% end %>
  </li>
  <%# end %>

  <li class="reassign">
    <%= form_tag confirm_reassign_collection_media_objects_path(:sort=>params[:sort], :per_page=>params[:per_page]), class: 'bulkAction', method: 'get' do %>
      <%= submit_tag "Reassign Collection", class: "btn btn-default bulkActionBtn", id: "reassignLink" %>
    <% end %>
  </li>

  <li class="email">
    <%= link_to t('blacklight.tools.email'), email_catalog_path(:sort=>params[:sort], :per_page=>params[:per_page], :id => @response.documents.map {|doc| doc.id}), :class=>"btn btn-default", :id => "emailLink", :data => {:ajax_modal => "trigger"} %>
  </li>

  <%# if can? :delete, @response.documents.map {|doc| doc.id} %>
  <li class="delete">
    <%= form_tag confirm_remove_media_objects_path(:sort=>params[:sort], :per_page=>params[:per_page]), class: 'bulkAction', method: 'get' do %>
      <%= submit_tag "Delete", class: "btn btn-danger bulkActionBtn", id: "deleteLink" %>
    <% end %>
  </li>
  <%# end %>
  
  <%= render_marc_tools %>
</ul>
<% content_for :page_scripts do %>

<script>
$('input.bulkActionBtn').click(function(event){
  event.preventDefault();
  var form = $(this).closest("form");
  form.remove('input[type="hidden"]');
  vals = $('form.bookmark_toggle').has('input:checked').map(function(){return $(this).attr('data-doc-id');}).get();
  vals.map( function(id) {
    form.append('<input type="hidden" name="id[]" value="' + id + '"/>');
  });
  form.submit();
});
</script>
<% end %>
