    <section id="player" style="width: 100%">
      <% if @masterfile.present? and @masterfile.succeeded? %>
        <%= stylesheet_link_tag "mediaelement_rails/mediaelementplayer" =%>

        <% if @stream_info[:is_video] %>
          <%= master_file_meta_properties(@masterfile) do %>
            <video class="mejs-avalon" controls width="450" height="309" style="width: 100%; height: 100%" id="video-tag" poster="<%= @stream_info[:poster_image] %>" preload="auto">
              <% @stream_info[:stream_flash].each do |flash| %>
                <source src="<%= flash[:url] %>" data-quality="<%= flash[:quality] %>" data-plugin-type="flash" type="video/rtmp"/>
              <% end %>
              <% @stream_info[:stream_hls].each do |hls| %>
                <source src="<%= hls[:url] %>" data-quality="<%= hls[:quality] %>" data-plugin-type="native" type="application/vnd.apple.mpegURL"/>
              <% end %>
            </video>
          <% end %>
        <% else %>
          <%= master_file_meta_properties(@masterfile) do %>
            <audio class="mejs-avalon" controls style="width: 100%;" id="video-tag" preload="true">
              <% @stream_info[:stream_flash].each do |flash| %>
                <source src="<%= flash[:url] %>" data-quality="<%= flash[:quality] %>" data-plugin-type="flash" type="audio/rtmp"/>
              <% end %>
              <% @stream_info[:stream_hls].each do |hls| %>
                <source src="<%= hls[:url] %>" data-quality="<%= hls[:quality] %>" data-plugin-type="native" type="application/vnd.apple.mpegURL"/>
              <% end %>
            </audio>
          <% end %>
        <% end %>
      <% end %>
    </section>
